<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dialog</title>
<link rel="stylesheet" type="text/css" href="css/dragWindow.css"/>
<!-- <link rel="stylesheet" type="text/css" href="css/dragWindow2.css"> -->
<!-- <style type="text/css"></style>
<style type="text/css" bogus="1" >

</style> -->
</head>
<body>
	<input value="创建" type="button" onclick="creat()" />
	<div id='aa'></div>
	<script type="text/javascript" src="js/echarts/echarts.js"></script>
	<script type="text/javascript" src="js/dragWindow.js"></script>
</body>
</html>
