<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />


<title>仪表盘</title>

<!-- Main CSS -->
<link id="bs-css" href="css/mainStyle/bootstrap-cerulean.min.css"
	rel="stylesheet" />
<link href="css/mainStyle/charisma-app.css" type="text/css"
	rel="stylesheet" />

<!-- zTree  -->
<!-- <link rel="stylesheet" href="css/zTree/zTreeStyle/zTreeStyle.css" />
<link rel="stylesheet" href="css/zTree/zTreeDomDrag.css" /> -->

<link rel="stylesheet" href="css/jquery/jquery-ui.min.css" />

<!-- myCSS -->
<link href="css/main.css" rel="stylesheet" />
<link href="css/chart.css" rel="stylesheet" />
<link href="css/tree.css" rel="stylesheet" />
<link href="css/paramlist.css" rel="stylesheet" />

<!-- dragWindow -->
<link rel="stylesheet" type="text/css" href="css/dragWindow.css" />

</head>

<body>

	<div class="navbar navabar-color" role="navigation">
		<div class="navbar-inner">
			<!-- <img src="img/BUAAlogo.jpg" style="height:45px; float:left"> -->
			<a class="navbar-brand navbar-brand-color" href="#"><i
				class="fa fa-comments" ></i> <strong id="title">我的第一个仪表盘</strong> </a>
		</div>
	</div>

	<div id="page_wrapper" class="ch-container">
		<div class="row">
			<!-- left menu starts -->
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<div id="sidebar" class="sidebar-nav">
					<div class="nav-canvas">
						<div class="nav-sm nav nav-stacked"></div>
						<ul class="nav nav-pills nav-stacked main-menu">
							<li class="nav-header">功能栏</li>
							<li><a class="ajax-link" href="#" onclick="addPanelModal()"><i class="glyphicon glyphicon-plus"></i><span>新建仪表盘</span></a></li>
							<li class="accordion"><a href="#"><span id="panelNow" value="001"> 我的仪表盘</span></a>
								<ul class="nav nav-pills nav-stacked" id="panels">
									<!-- <li><a href="#">Child Menu 1</a></li>
									<li><a href="#">Child Menu 2</a></li> -->
								</ul>
							</li>
							<li><a class="ajax-link" href="#" onclick="deletePanelModal()"><span>删除当前仪表盘</span></a></li>
							<li><a class="ajax-link" href="#" onclick="addChartModal()"><span>添加已有图表</span></a></li>
							<li><a class="ajax-link" href="#" onclick="setPanel()"><span id="setPanel">设置仪表盘</span></a></li>
							<!-- <li><a class="ajax-link" href="#"><span>实时监控设置</span></a></li> -->
						</ul>
					</div>
				</div>
			</div>
			<!-- left menu ends -->
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<div id="chart_panel" class="panel">
					<!-- <div id="box" class="box">
						<div id="coor" class="coor"></div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addPanel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>新建仪表盘</h3>
                </div>
				<div class="modal-body">
					<div class="form-group has-success col-md-6">
						<label class="control-label">仪表盘名称：</label> <input type="text"
							class="form-control" id="panelName" name="panelName" />
					</div>
				</div>
				<div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">取消</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal" onclick="addPanel()">确定</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deletePanelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>删除仪表盘</h3>
                </div>
                <div class="modal-body">
                    <p id="deletePanelSure">确认删除?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">取消</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal" onclick="deletePanel()">确定</a>
                </div>
            </div>
        </div>
    </div>
	<div class="modal fade" id="deleteChartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>删除图表</h3>
                </div>
                <div class="modal-body">
                    <p id="deleteChartSure">确认删除?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">取消</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal" onclick="deleteChart()">确定</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="addChartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>添加图表</h3>
                </div>
                <div class="modal-body">
                    <p id="addChartList">选择图表：</p>
                    <select id="chatList" class="metric">
                    	<option  th:each="chart : ${charts}"
                        	th:value="${chart.id}" th:text="${chart.name}">
                        </option>
					</select>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">取消</a>
                    <a href="#" class="btn btn-primary" onclick="addChart()">确定</a>
                </div>
            </div>
        </div>
    </div>

	<!-- jQuery -->
	<script src="js/jquery/jquery.js"></script>
	<script src="js/jquery/jquery.slides.js"></script>
	<script src="js/jquery/jquery.scrollTo.js"></script>
	<script src="js/jquery/jquery-ui.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap/bootstrap.min.js"></script>


	<!-- chart JS -->
	<script src="js/echarts/echarts.js"></script>
	<!-- <script src="js/charts.js"></script> -->

	<!-- main JS -->
	<!-- <script src="js/getzTree.js"></script> -->
	<!-- <script src="js/treeDrag.js"></script> -->
	<script src="js/fixcss.js"></script>
	<script src="js/index.js"></script>
	<script src="js/drag.js"></script>
	<script src="js/panel.js"></script>
	<script src="js/addChart.js"></script>
	<script src="js/addPanel.js"></script>
	
</body>

</html>
